@font-face {
  font-family: "SoyuzGroteskBold";

  src: url("/fonts/SoyuzGroteskBold.woff2");
}

:root {
  --accent-black: rgba(190, 190, 190, 0.437);
  --main-color: #eed380;
  --first-analog-color: #f1a78f;
  --second-analog-color: #f1d88fd6;
  --swiper-navigation-color: var(--first-analog-color);
}

* {
  font-family: "SoyuzGroteskBold";

  margin: 0;
  padding: 0;
}

body {
  /* background-color: var(--second-analog-color); */
}

a {
  text-decoration: none;

  color: inherit;
}

.logo {
  /* font-family: "SoyuzGroteskBold"; */
  font-size: 50px;
}

.header {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;

  width: 100%;
}

.header_container {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 75px;

  background-color: var(--main-color);
}

.nav_wrapper {
  font-size: 25px;

  position: absolute;
  z-index: 111;
  top: 100%;
  left: 50%;

  display: flex;
  flex-direction: column;

  width: 300px;

  transform: translateX(-50%);

  border: 1px solid var(--accent-black);
  border-top: none;
  background-color: var(---first-analog-color);

  gap: 10px;
}

.nav_item {
  padding: 5px 20px;

  background-color: #fff;
}

.nav_item:hover {
  background-color: var(--accent-black);
}

.main {
  padding-top: 75px;
}

.container {
  width: 95%;
  margin: 0 auto;
}
/* 
.pos-r {
  position: relative;
} */
/* Стиль для фона прогресс-бара */
.swiper-pagination-progressbar {
  background-color: var(
    --first-analog-color
  ) !important; /* Цвет фона прогресс-бара */
}

/* Стиль для самой прогресс-индикации */
.swiper-pagination-progressbar-fill {
  background-color: var(
    --second-analog-color
  ) !important; /* Цвет заполнения прогресс-бара (здесь красный) */
}
